.advantage{
	min-height: 470px;
	background-color: #f6f6f6;	
	padding: 70px 0 78px 0;
	&__items{
		display: flex;
		justify-content: space-between;
		margin-top: 65px;
	}
	&__item{
		text-align: center;
		width: 226px;
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 300;
		p{
			display: block;
			margin-top: 38px;
			color: #0d0d0d;
			font-size: 18px;
			font-weight: 700;
		}
		a{
			color: $main_color;
			text-transform: uppercase;
		}
	}
}